<div class="progress">
  <div class="progress-bar" style="width: <%= @registration.progress %>%;" role="progressbar"  aria-valuemin="0" aria-valuemax="100">
  </div>
</div>

<%= @registration.progress %>
